:root {
    --color-primary: #917758;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

/**********
*  HOME
***********/

.home {
    background-image: url(../images/bg-home.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
}

.home .header .nav ul {
    display: flex;
    list-style: none;
    padding: 50px 0;
    justify-content: center;
    display: flex;
    align-items: center;
}

.home .header .nav ul li {
    width: 150px;
    display: flex;
    justify-content: center;
}

.home .header .nav ul li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 30px;
    font-size: 12px;
}

.home .header .nav ul li a:hover {
    color: var(--color-primary);
    border-bottom: 1px solid var(--color-primary);
}

.home .header .nav ul .logo {
    margin: 0 30px;
}

/*******************
*   HOME - BANNER
********************/

.home .banner {
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 270px;
    width: 770px;
    margin-left: -385px;
}

.home .banner span {
    display: block;
}

.home .banner .slogan1 {
    text-transform: uppercase;
    color: var(--color-primary);
    letter-spacing: 4px;
}

.home .banner .slogan2 {
    margin-bottom: 15px;
}

.home .banner h1 {
    font-size: 120px;
}

/***********
*   ABOUT
************/

.about {
    height: 100vh;
    background-color: var(--color-primary);
}

.about .container {
    display: flex;
}


.about .timing {
    width: 33%;
}

.about .experience {
    width: 66%;
}